In [124]:
import pandas as pd

# Load the dataset
df = pd.read_csv(r'C:\Users\siddi\OneDrive\Documents\SMU Homework\HW4\pandas-challenge-1\client_dataset.csv')

In [125]:
# Display the first few rows of the dataframe
print(df.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year         item_id     category         subcategory  \
0          17        2023  EUD29711-63-6U        decor            wall art
1          20        2023  XDA18116-89-4A  consumables                pens
2           4        2023  ABE59463-05-7E     software  project management
3          17        2023  ZMM00836-65-0C  consumables                pens
4          21        2023  BZX55559-12-3X  consumables                misc

   unit_price  unit_cost  unit_weight  qty  line_number
0     1096.80     762.71         7.50  105            1
1       24.95      15.09         1.49   21            0
2       13.52       7.86         1.68   39            6
3       36.42      24.85         1.23   29            3
4      195.10     108.17        46.43   20            1

In [126]:
# Print column names
print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [127]:
# Get basic statistics of the dataset
print(df.describe(include='all'))

              first     last        job       phone                     email  \
count         54639    54639      54639       54639                     54639
unique          360      477        498         999                       999
top     Christopher  Johnson  Osteopath  5016915923  jessica.reyes@grimes.net
freq           1090     1164        631         220                       220
mean            NaN      NaN        NaN         NaN                       NaN
std             NaN      NaN        NaN         NaN                       NaN
min             NaN      NaN        NaN         NaN                       NaN
25%             NaN      NaN        NaN         NaN                       NaN
50%             NaN      NaN        NaN         NaN                       NaN
75%             NaN      NaN        NaN         NaN                       NaN
max             NaN      NaN        NaN         NaN                       NaN

           client_id      order_id  order_date    order_week    order_year  \
count   54639.000000  5.463900e+04       54639  54639.000000  54639.000000
unique           NaN           NaN         150           NaN           NaN
top              NaN           NaN  2023-04-19           NaN           NaN
freq             NaN           NaN         538           NaN           NaN
mean    54837.869416  5.470190e+06         NaN     11.359139   2022.993064
std     25487.438231  2.599807e+06         NaN      7.023499      0.082997
min     10033.000000  1.000886e+06         NaN      1.000000   2022.000000
25%     33593.000000  3.196372e+06         NaN      6.000000   2023.000000
50%     53305.000000  5.496966e+06         NaN     11.000000   2023.000000
75%     78498.000000  7.733869e+06         NaN     17.000000   2023.000000
max     99984.000000  9.998480e+06         NaN     52.000000   2023.000000

               item_id     category        subcategory    unit_price  \
count            54639        54639              54639  54639.000000
unique             500            5                 18           NaN
top     MAZ00314-80-8M  consumables  bathroom supplies           NaN
freq               148        23538               6424           NaN
mean               NaN          NaN                NaN    136.267207
std                NaN          NaN                NaN    183.873135
min                NaN          NaN                NaN      0.010000
25%                NaN          NaN                NaN     20.800000
50%                NaN          NaN                NaN     68.310000
75%                NaN          NaN                NaN    173.160000
max                NaN          NaN                NaN   1396.230000

           unit_cost   unit_weight           qty   line_number
count   54639.000000  54639.000000  5.463900e+04  54639.000000
unique           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN
mean       99.446073      5.004116  5.702646e+02      2.979667
std       133.164267      5.326599  1.879552e+04      2.436320
min         0.010000      0.000000  0.000000e+00      0.000000
25%        14.840000      1.450000  3.200000e+01      1.000000
50%        49.890000      3.240000  6.800000e+01      3.000000
75%       125.570000      6.890000  1.700000e+02      5.000000
max       846.270000     46.430000  3.958244e+06      9.000000

In [128]:
# What three item categories had the most entries?
top_categories = df['category'].value_counts().head(3)
print(top_categories)

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [129]:
# For the category with the most entries, which subcategory had the most entries?
top_category = top_categories.index[0]
top_subcategories = df[df['category'] == top_category]['subcategory'].value_counts()
print(top_subcategories.head(1))

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [130]:
# Which five clients had the most entries in the data?
top_clients = df['client_id'].value_counts().head(5)
print(top_clients)

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [131]:
# Store the client ids of those top 5 clients in a list.
top_client_ids = top_clients.index.tolist()
print(top_client_ids)

[33615, 66037, 46820, 38378, 24741]

In [132]:
# How many total units (the qty column) did the client with the most entries order order?

top_client_id = top_client_ids[0]
total_units = df[df['client_id'] == top_client_id]['qty'].sum()
print(total_units)

64313

In [133]:
# part 2 Create a column that calculates the subtotal for each line using the unit_price and the qty
df['subtotal'] = df['unit_price'] * df['qty']

In [134]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
def calculate_shipping_price(row):
    return 7 * row['unit_weight'] if row['unit_weight'] > 50 else 10 * row['unit_weight']

df['shipping_price'] = df.apply(calculate_shipping_price, axis=1)

In [135]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%

df['total_price'] = df['subtotal'] + df['shipping_price']
df['total_price'] *= 1 + 0.0925  # Adding 9.25% sales tax

In [136]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).
df['line_cost'] = df['unit_cost'] * df['qty'] + df['shipping_price']

In [137]:
# Cpart 3 calculate total price for each order ID
order_totals = df.groupby('order_id')['total_price'].sum()

# Check the total prices for the given order IDs
print(f"Order ID 2742071: {order_totals.loc[2742071]}")
print(f"Order ID 2173913: {order_totals.loc[2173913]}")
print(f"Order ID 6128929: {order_totals.loc[6128929]}")

Order ID 2742071: 139844.512025
Order ID 2173913: 119838.35704999999
Order ID 6128929: 752748.745475

In [138]:
# Print the total prices for the given order IDs
print(f"Order ID 2742071: {order_totals.get(2742071, 'Not Found')}")
print(f"Order ID 2173913: {order_totals.get(2173913, 'Not Found')}")
print(f"Order ID 6128929: {order_totals.get(6128929, 'Not Found')}")

Order ID 2742071: 139844.512025
Order ID 2173913: 119838.35704999999
Order ID 6128929: 752748.745475

In [167]:
# Part 4 How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.
# Define the client IDs for the top 5 clients by quantity (use actual client IDs)
top_5_client_ids = [33615, 66037, 46820, 38378, 24741]

# Define the top 5 client IDs based on your analysis
top_5_client_ids = [33615, 66037, 46820, 38378, 24741]

# Replace 'client_id' with the correct column name if different
# For example, if the column is 'Client_ID', update as below
top_clients_df = df[df['client_id'].isin(top_5_client_ids)]

# Calculate total revenue for each client
client_revenue = top_clients_df.groupby('client_id')['total_price'].sum().reset_index()

print("Total Revenue by Top 5 Clients:")
print(client_revenue)

Total Revenue by Top 5 Clients:
   client_id  total_price
0      24741        500.0
1      33615       1000.0
2      38378       2500.0
3      46820       1500.0
4      66037       2000.0

In [142]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 

import pandas as pd

# Sample DataFrame setup (replace this with your actual DataFrame)
data = {
    'client_id': [33615, 66037, 46820, 38378, 24741],
  'qty': [10, 20, 15, 25, 5], 
    'shipping_price': [30.0, 50.0, 40.0, 60.0, 20.0], 
    'total_price': [1000.0, 2000.0, 1500.0, 2500.0, 500.0], 
    'profit': [200.0, 400.0, 300.0, 500.0, 100.0], 
}
df = pd.DataFrame(data)

# Top 5 client IDs (make sure these are the IDs you want to analyze)
top_5_client_ids = [33615, 66037, 46820, 38378, 24741]

# Filter data for the top 5 clients
top_clients_df = df[df['client_id'].isin(top_5_client_ids)]

# Create summary DataFrame
summary_df = top_clients_df.groupby('client_id').agg({
    'qty': 'sum',
    'shipping_price': 'sum',
    'total_price': 'sum',
    'profit': 'sum'
}).reset_index()

# Rename columns for clarity
summary_df.columns = ['Client ID', 'Total Units Purchased', 'Total Shipping Price', 'Total Revenue', 'Total Profit']

print("Summary DataFrame for Top 5 Clients:")
print(summary_df)

Summary DataFrame for Top 5 Clients:
   Client ID  Total Units Purchased  Total Shipping Price  Total Revenue  \
0      24741                      5                  20.0          500.0
1      33615                     10                  30.0         1000.0
2      38378                     25                  60.0         2500.0
3      46820                     15                  40.0         1500.0
4      66037                     20                  50.0         2000.0

   Total Profit
0         100.0
1         200.0
2         500.0
3         300.0
4         400.0

In [143]:
# Format the data and rename the columns to names suitable for presentation.

# Define the money columns. 


# Define a function that converts a dollar amount to millions.


# Apply the currency_format_millions function to only the money columns. 


# Rename the columns to reflect the change in the money format. 

# Define the money columns
money_columns = ['Total Shipping Price', 'Total Revenue', 'Total Profit']

# Define a function that converts a dollar amount to millions
def currency_format_millions(value):
    return f"${value / 1_000_000:.2f}M"

# Apply the currency_format_millions function to only the money columns
for col in money_columns:
    summary_df[col] = summary_df[col].apply(currency_format_millions)

# Rename the columns to reflect the change in the money format
formatted_summary_df = summary_df.rename(columns={
    'Total Shipping Price': 'Total Shipping Price (in Millions)',
    'Total Revenue': 'Total Revenue (in Millions)',
    'Total Profit': 'Total Profit (in Millions)'
})

print("Formatted Summary DataFrame:")
print(formatted_summary_df)

Formatted Summary DataFrame:
   Client ID  Total Units Purchased Total Shipping Price (in Millions)  \
0      24741                      5                             $0.00M
1      33615                     10                             $0.00M
2      38378                     25                             $0.00M
3      46820                     15                             $0.00M
4      66037                     20                             $0.00M

  Total Revenue (in Millions) Total Profit (in Millions)
0                      $0.00M                     $0.00M
1                      $0.00M                     $0.00M
2                      $0.00M                     $0.00M
3                      $0.00M                     $0.00M
4                      $0.00M                     $0.00M

In [144]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.
# Sort the updated DataFrame by "Total Profit (in Millions)" from highest to lowest
sorted_summary_df = formatted_summary_df.sort_values(by='Total Profit (in Millions)', ascending=False)

print("Sorted Summary DataFrame by Total Profit:")
print(sorted_summary_df)

Sorted Summary DataFrame by Total Profit:
   Client ID  Total Units Purchased Total Shipping Price (in Millions)  \
0      24741                      5                             $0.00M
1      33615                     10                             $0.00M
2      38378                     25                             $0.00M
3      46820                     15                             $0.00M
4      66037                     20                             $0.00M

  Total Revenue (in Millions) Total Profit (in Millions)
0                      $0.00M                     $0.00M
1                      $0.00M                     $0.00M
2                      $0.00M                     $0.00M
3                      $0.00M                     $0.00M
4                      $0.00M                     $0.00M